/* shared style */
*{
    font-family: 'Mulish', sans-serif;
font-family: 'Work Sans', sans-serif;}
    

* {
    margin: 0px;
    overflow-x: hidden;
    
    

}

.title {
    font-size: 2rem;
    font-weight: 800;
    color: #131318;
}

.description {
    font-size: 1rem;
    color: #424247;
    font-weight: 500;


}
.btn-primary{
    width: 130px;
    height: 40px;
    border-radius: 8px;
background: #FF5400;

color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 0.80rem;
font-style: normal;
font-weight: 700;
border: none;
cursor: pointer;

}
.btn-primary:hover{
    background-color:  darkturquoise;
}

/* header section style */
header {
    max-width: 1100px;
    margin: 50px auto;

}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav .title-container{
    display: flex;
    /* width: 45%; */
   
    align-items: center;
    gap: 20px;

}

nav .nav-bar a {
    text-decoration: none;
    margin-right: 30px;
}
.menu{
    display: none;
}
header span{
    color: #FF5400;
}


/* main section  */
main {
    max-width: 1050px;
    margin: 50px auto;
}


.banner-item p {
    margin: 20px 0px;
    color: #e0e0f8;
}

.banner-item h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #FFF;
    margin-top: 100px;


}

.banner-item {
    height: 500px;
    width: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group13.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
   
}
.banner-form{
    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;

border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}

.banner-form input,select{
    width: 125px;
height: 35px;
border-radius: 7px;
background-color: #FFF;
border: none;
cursor: pointer;
}
.banner-form select:hover{
    background-color: darkturquoise;
}




/* popular section */

.popular-tour-container{
    margin: 75px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    
    
}
.popular-tour-container img{
    width: 100%;
}
.popular-tour-container .popular-items{

width: calc((100% - 70px) / 2);
}
.popular-tour-container .description{
    margin-top: 20px;
}
.popular-tour-container .btn-primary{
    margin-top: 25px;
}

/* destination */

.destination-container
{
    width: 100%;
    max-width: 1050px;
    margin: 0px auto;
   
    
}

.image-containner{
    width: 100%;
    height: auto;

    margin: 80px auto;
   
  
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:repeat(3,1fr);

    
    
   
}

.image-containner div{

    position: relative;
    z-index: 1;
}
.image-containner img{
    height: 95%;
    
   width: 95%;
   object-fit: cover;
   border-radius: 10px;
   
   
   

}

.grid-item-1{
    grid-column: 1 /span 6;
    grid-row: 1;
   
    
}
.grid-item-1 h4{
    color: #f9f8ef;
    position: absolute;
    top:-120px;
    left: 200px;
    z-index: 2;
    

}

    
    

.grid-item-2{
    grid-column: 7 /span 12;
    grid-row: 1;

}

.grid-item-2 h4{
    color: #f9f8ef;
    position: absolute;
    top:-120px;
    left: 200px;
    z-index: 1;
    

}
.grid-item-3{
    grid-column: 1 /span 4;
    grid-row: 2;

}
.grid-item-3 h4{
    color: #f9f8ef;
    position: absolute;
    top:-120px;
    left: 170px;
    z-index: 1;
    

}
.grid-item-4{
    grid-column: 5 /span 9;
    grid-row:2;
    width: 430px;

}
.grid-item-4 h4{
    color: #f9f8ef;
    position:absolute;
    top:-120px;
    left: 170px;
    z-index: 1;

}
.grid-item-5{
    grid-column: 10 /span 12;
    grid-row:2;
   
}
.grid-item-5 h4{
    color: #f9f8ef;
    position: absolute;
    top:-120px;
    left: 140px;
    z-index: 1;
    

}
.grid-item-6{
    grid-column: 1 /span 5;
    grid-row:3;

}
.grid-item-6 h4{
    color: #f9f8ef;
    position: absolute;
    top:-120px;
    left: 180px;
    z-index: 1;
    

}
.grid-item-7{
    grid-column: 6 /span 12;
    grid-row:3;

}
.grid-item-7 h4{
    color: #f9f8ef;
    position: absolute;
    top:-120px;
    left: 230px;
    z-index: 10;
    

}



.destination-container h1{
    text-align: center;
    margin-bottom: 20px;



}
.destination-container p{
    text-align: center;

}

/* choose */
.hotel-item{
    width: calc((100% - 30px) / 2);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);

background: rgba(251, 181, 99, 0.05);
text-align: center;


}
.service{
    width: calc((100% - 30px) / 2);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);

background: rgba(41, 206, 246, 0.05);
text-align: center;




}
.price{
    width: calc((100% - 30px) / 2);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);

background: rgba(233, 68, 68, 0.05);
text-align: center;
max-width: 525px;
margin: 30px auto;

}

.choose-container{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.hotel-title{
    font-size: 1.7rem;
    font-weight: 500;
    margin: 20px 0px;

}
.choose i{
    font-size: 2rem;
    color: #FF5400;
}
.choose .title{
 text-align: center;
 margin-bottom: 20px;
}
.choose .description{
    text-align: center;
    margin-bottom: 50px;
}
/* newsletter */
.newsletter-container{
    display: flex;
    justify-content: space-around;
    
    gap: 30px;

}

.image-container img{
  
    width: 100%;
}
.newsletter-item{
    border-radius: 16px;
border: 1px solid #FF5400;
height: 400px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
align-items: center;


} 
.newsletter-item input{
    width: 250px;
height: 35px;
border: none;

border-radius: 8px;
background: rgba(19, 19, 24, 0.05);

}
.newsletter-item .btn-primary{
    width: 255px;

}
.input-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

}
.offer{
    width: 280px;
height: 100px;
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
position: relative;
top: -145px;
right: -350px;
text-align:center;
color: #FFF;
}
/* .offer span{
    margin-top: 30px;
    margin-left: 15px;
    
} */

/* footer */
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: rgba(19, 19, 24, 0.05);



}
footer .title-container{
    display: flex;
    
   
    align-items: center;
    gap: 10px;

}
footer span{
    color: #FF5400;
}

footer .iconss{
    margin-bottom: 40px;
    margin-top: 20px;
   
}
.footer-line{
    border: 1px solid #ccc;
    margin: 10px ;
}























/* responsive for small device  */

@media screen and (max-width:600px) 
{
   /* nav and banner section */
    .nav-bar a{
        display: none;
    }

    .banner-form{
        flex-direction: column;
        position: relative;
        top: -80px;
    }
    .banner-item{
        width: 90%;
       
        margin-left: 17px;
        
        align-items: center
        
    }
    nav {
        margin:10px 10px;
    }

    .banner-item h1 {
        font-size:medium;
        position: relative;
        top: -70px;

    }
    .banner-item p{
        font-size: medium;
        position: relative;
        top: -70px;
    }
    .title {
        font-size: 1.5rem ;
        font-weight:700;
        color: #131318;
    }
    .banner-form input,select{
        width: 200px;
        height: 45px;}
    
   /* popular section */
   .popular-tour-container{
    flex-direction:column;
    gap: 30px;
    
    margin:50px 15px ;

   }
   .popular-tour-container .popular-items{

    width:100%;}

    /* destination */
.image-containner {
  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    /* grid-column: span 1;
    grid-row: span 1; */
    

}
.image-containner>div{
    grid-column: span 1;
    grid-row: span 1;
    /* width:100% ; */
}
/* .image-containner>div img{
    width: 100%;
    height: 100%;
}
 */

    /*choose  */
    .choose-container{
        flex-direction: column;
    }
    .price{
        
        width: 100%;
    }
    .service{
        width: 100%;
       

    }
    .hotel-item{
        width: 100%;
        
    }

    .newsletter-container{
        flex-direction: column;
        margin: 20px 20px ;

    }
    /* .newsletter-item{
        width: 100%;
        margin: 10px auto;
    } */
    .offer{
        position:static;

        
    }
    .newsletter-container img{
        height: 100%;
        overflow-y: hidden;
    }
}


